<div class="app-content">
    <div class="weui-cells weui-cells_checkbox" style="margin-top: 0px;">
        <label class="weui-cell weui-check__label" *ngFor="let item of list;index as i;" [attr.for]="'label'+i">
            <div class="weui-cell__hd">
                <input type="checkbox" class="weui-check" [(ngModel)]="item.select" [attr.id]="'label'+i">
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p>
                    {{item.realname || item.nickname}}
                    <small>{{item.mobile || '未填写'}}</small>
                </p>
            </div>
        </label>
    </div>
    <div *ngIf="list.length==0" class="empty">
        尚无数据&nbsp;
        <a href="javascript:;" (click)="add()">立即添加</a>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" (click)="save()">确定</a>
    </div>
</div>