<div class="app-content">
    <div class="weui-cells weui-cells_checkbox" style="margin-top: 0px;">
        <ion-item *ngFor="let item of list;index as i;">
            <ion-label>{{item.realname || item.nickname}}</ion-label>
            <ion-checkbox></ion-checkbox>
        </ion-item>
    </div>
    <div *ngIf="list.length==0" class="empty">
        尚无数据&nbsp;
        <a href="javascript:;" (click)="add()">立即添加</a>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" (click)="save()">确定</a>
    </div>
</div>