<ion-app>
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>添加零部件</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="save()">保存</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <div class="form-row" [formGroup]="form">
            <ion-item>
                <ion-label>主分类</ion-label>
                <ion-select okText="确定" formControlName="fid" onCancelText="取消" multiple="false">
                    <ion-select-option [value]="t.id" *ngFor="let t of top">{{t.title}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="second.length>0">
                <ion-label>子分类</ion-label>
                <ion-select okText="确定" formControlName="group_id" onCancelText="取消" multiple="false">
                    <ion-select-option [value]="t.id" *ngFor="let t of second">{{t.title}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>零件名</ion-label>
                <ion-input placeholder="请输入零件名" formControlName="title"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>备注</ion-label>
                <ion-input placeholder="请输入备注" formControlName="desc"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>价格</ion-label>
                <ion-input placeholder="请输入价格" formControlName="price"></ion-input>
            </ion-item>
        </div>
    </ion-content>
</ion-app>