<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>跑腿开放平台</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=4AufC349tpFrS3y8wbOvjiO9wmIEhBRx&s=1"></script>
    <link href="../addons/runner_open/template/web/styles.7aef6e68cc7445a011c0.bundle.css" rel="stylesheet" />
</head>

<body>
    <app-root></app-root>
    <script type="text/javascript" src="../addons/runner_open/template/web/inline.812f004de91a972e9d31.bundle.js?t=9"></script>
    <script type="text/javascript" src="../addons/runner_open/template/web/polyfills.1457c99db4b6dba06e8d.bundle.js?t=9"></script>
    <script type="text/javascript" src="../addons/runner_open/template/web/main.7060053af4121c4976aa.bundle.js?t=9"></script>
</body>

</html>