<ion-app>
    <ion-content>
        <div class="grid grid-navs">
            <div class="grid-item" (click)="onItem(item)" *ngFor="let item of app.props.home.navs">
                <i [class]="item.icon"></i>
                <span>{{item.title}}</span>
            </div>
        </div>
        <hr class="m10">
        <div class="grid">
            <div class="grid-item" (click)="onItem(item)" *ngFor="let item of app.props.home.grids">
                <i [class]="item.icon"></i>
                <span>{{item.title}}</span>
            </div>
        </div>
        <footer [props]="app.props.footers"></footer>
    </ion-content>
</ion-app>