<ion-app>
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>零部件</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="toBilling()">开单</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <div class="grid grid-navs">
            <div class="grid-item" (click)="onItem(item)" *ngFor="let item of app.props.home.navs">
                <i [class]="item.icon"></i>
                <span>{{item.title}}</span>
            </div>
        </div>
        <hr class="m10">
        <div class="grid">
            <div class="grid-item" (click)="onItem(item)" *ngFor="let item of app.props.home.grids">
                <i [class]="item.icon"></i>
                <span>{{item.title}}</span>
            </div>
        </div>
        <!-- <footer [props]="app.props.footers"></footer> -->
    </ion-content>
    <ion-footer>
        <ion-toolbar color="light">
            <footer-container [props]="app.props.footers"></footer-container>
        </ion-toolbar>
    </ion-footer>
</ion-app>